<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>School Management</title>
<link href="../../views/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../../views/css/school.css" rel="stylesheet" type="text/css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <link rel="stylesheet" href="../../views/css/style.css">
<style type="text/css">
body {
	background-image: url(/images/grey-meta.jpg);
	background-repeat: repeat;
}
</style>
</head>

<body style="padding-top: 50px">
<nav class="navbar navbar-default navbar-fixed-top">
 <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="#">School Management</div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="topFixedNavbar1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="login.html">Home<span class="sr-only">(current)</span></a></li>
     
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Student<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/student/add">Add</a></li>
            <li><a href="/student/modify">Modify</a></li>
            <li><a href="/student/delete">Delete</a></li>
          
            <li role="separator" class="divider"></li>
            <li><a href="#">Export</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/staff/add">Add</a></li>
            <li><a href="/staff/modify">Modify</a></li>
            <li><a href="/staff/delete">Delete</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Export</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="https://www.google.co.in/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row"> </div>
</div>
<script src="/views/js/jquery-1.11.3.min.js"></script>
<script src="/views/js/bootstrap.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script   src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</body>
</html>
