
<div class="page-header">
  <h1>Welcome to {{title}} school <small>a governmnt approved school</small></h1>
</div>
<div class="container">
<p>We are Awarded as the best school for the year 2016</p>
</div>