<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="sfather_name">Father's Name</label>  
  <div class="col-md-4">
  <input id="sfather_name" name="sfather_name" type="text" placeholder="Enter your father name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="sname">Student Name</label>  
  <div class="col-md-4">
  <input id="sname" name="sname" type="text" placeholder="Enter student name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="sgender">Gender</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="sgender-0">
      <input type="radio" name="sgender" id="sgender-0" value="1" checked="checked">
      Male
    </label>
	</div>
  <div class="radio">
    <label for="sgender-1">
      <input type="radio" name="sgender" id="sgender-1" value="2">
      Female
    </label>
	</div>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="saddress">Address</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="saddress" name="saddress">Enter student address</textarea>
  </div>
</div>

</fieldset>
</form>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>